.Store-display-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.Store-display-container > pre {
  max-width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
