.App-logo {
  animation: App-logo-spin infinite linear;
  animation-duration: 20s;
  animation-play-state: running;
}

.App-logo-fast {
  animation-duration: 1s;
}

.App-logo-stopped {
  animation-play-state: paused;
}

.App-header {
  background-color: #222;
  color: white;
  padding: 20px;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-subtitle {
  font-size: 1em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
